body {
	font-family:arial;
	background:#6b9080;
} 

#content {
	background:#a4c3b2;
	width:80%;
	margin:auto;
	padding:5px;
}
footer{
	background:#a4c3b2;
	padding:5px;
}
h1{
	color:white;
	padding:5px;
	text-align:center;
	  opacity: 0.5;
}
h2{
	text-align:center;

}
img {
	width:1000px; 
	height:1000px;
	padding:100px;
	margin:120px;
}
#mainnav li{
	text-decoration:none;
	background-color:#cce3de;
	border: 1px solid black;
	text-align:left;
	padding:5px;
	display:block;

}
.hidden{
	display:none;
}

#video{
	text-align:center;
	margin-left:450px;
}
#form{
	margin:50px;
}
#col{
display:flex; 
flex:1; 
}

#contact{
	margin:50px;
}
#mainnav ul{
	text-align:center;
	padding-left:0;
}
 nav a:hover {
	 background-color:white;
 }
a {
	background-color:#cce3de;
	text-decoration:none;
}
main{ 
	background:#cce3de;
	padding:5px;
}

.name p{
	text-align:left;
}
.padding{
	width:200px;
	height:200px;
}
.name{
	background-color:white;
		text-align:center;

}


@media (min-width: 720px) {
body {
	font-family:arial;
	background-image:url('images/coffee.jpg');
} 
#mainnav li{
	display:inline;
}
#mainnav ul{

	text-align:center;
}
 nav a:hover {
	 background-color:white;
 }
a {
	background-color:#cce3de;
	text-decoration:none;
}
}


